<!-- Obituaries Popup -->
<div id="obituariesPopup" class="page-popup-overlay">
    <div class="page-popup-content">
        <!-- Header -->
        <header>
            <div class="header-content container">
                <img src="assets/images/logos/newlogo.png" alt="Logo" class="main-logo">
                
                <div class="logo-and-links">
                    <nav>
                        <ul>
                            <li><a href="#" class="popup-home-link">Home</a></li>
                            <li><a href="#" class="popup-about-link">About Us</a></li>
                            <li><a href="#" class="popup-virtual-link">Virtual Tours</a></li>
                            <li><a href="#" class="popup-obituaries-link active-nav">Obituaries</a></li>
                            <li><a href="#" class="popup-contact-link">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-buttons">
                    <a href="#" class="btn btn-register popup-register-btn">Register</a>
                    <a href="#" class="btn btn-login popup-login-btn">Login</a>
                </div>
            </div>
        </header>

        <!-- Yellow Line Divider -->
        <div class="yellow-line-divider"></div>
    </div>
</div>
